
.hidden {
	display: none;
}

div.images {

	float: left;
	margin-bottom: 10px;
	position: relative;
	line-height: 0;
}


div.images ul {
	list-style:none;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left:0;
}

div.zoom ul {
	padding: 0;
	margin:0;
}

div.images ul li, div.zoom ul li {
  display: none;
}

div.images ul li.first, div.zoom ul li.first {
  display: block;
}

div.zoomscrollcontrols {
  position: absolute;
  right:0.3em;
  top:0.3em; 
  text-shadow: #000 2px 2px 2px;
  font-weight: bold;
  font-size: 175%;
  line-height:0.8em;
  z-index: 15;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=3);
}


div.zoomcontrols {
  position: absolute;
  left:0.3em;
  top:0.3em; 
  text-shadow: #000 2px 2px 2px;
  font-weight: bold;
  font-size: 175%;
  line-height:0.8em;
  z-index: 15;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=3);
}

div.zoomcontrols a, div.zoomscrollcontrols a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.mail div.zoomcontrols, .mail div.zoomscrollcontrols a {
  display: none;
}

div.zoom { 
 	display: none;
}

div.scrollcontrols {
  position: absolute;
  right:0.3em;
  top:0.3em; 
  text-shadow: #000 2px 2px 2px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=3);
  font-weight: bold;
  font-size: 200%;
  line-height:0.8em;
  z-index: 15;
}
